@model JobReferenceCreateViewModel
@{ ViewData["activeView"] = "Gallery"; }
<form target="_self" method="post" enctype="multipart/form-data">
    <label hidden asp-for="Title"></label>
    <input asp-for="Title" class="form-control" placeholder="Ime reference" />
    <span asp-validation-for="Title"></span>
    <div class="row pt-4 ">
        @for (int i = 0; i < Model.JobTypes.Count(); i++)
        {
            <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                <input type="hidden" asp-for="@Model.JobTypes[i].Id" />
                <input type="hidden" asp-for="@Model.JobTypes[i].Name" />
                <input type="checkbox" asp-for="@Model.JobTypes[i].IsChecked" />
                <label asp-for="@Model.JobTypes[i].IsChecked">@Model.JobTypes[i].Name</label>
                <br />
            </div>
        }
    </div>
    <div id="selectedFiles"></div>
    <hr />
    <div class="row justify-content-center text-center mb-4">
        <div class="col-lg-2 col-4">
            <button class="btn btn-lightgray" type="button" onclick="document.getElementById('upload').click()"><i class="fas fa-images"></i> Priloži sliku/e</button>
            <input class="form-control" id="upload" name="Images" type="file" accept="image/*" multiple="" style="display:none" />
        </div>
        <div class="col-lg-2 col-4">
            <button class="btn btn-lightgray" type="submit">Pohrani</button>
        </div>
    </div>
</form>
@section Scripts {
    <script type="text/javascript">
        var selDiv = "";
        document.addEventListener("DOMContentLoaded", init, false);
        function init() {
            document.querySelector('#upload').addEventListener('change', handleFileSelect, false);
            selDiv = document.querySelector("#selectedFiles");
        }
        function handleFileSelect(e) {
            if (!e.target.files || !window.FileReader) return;
            var i = 0;
            var files = e.target.files;
            var filesArr = Array.prototype.slice.call(files);
            var html = "<div class=\"row\">";
            filesArr.forEach(function (f) {
                if (!f.type.match("image.*")) {
                    return;
                }
                var reader = new FileReader();
                reader.onload = function (e) {
                    html += "<div class=\"container col-xl-6 col-md-12 image p-4 text-center\"><img class=\"d-block mx-auto\" src=\"" + e.target.result + "\" style=\"width: 400px; height: 225px;\"><br />" + f.name + "</div>";
                    if (i + 1 == filesArr.length) {
                        html += "</div>"
                        selDiv.innerHTML = html;
                    }
                    console.log(i);
                    i++;
                }
                reader.readAsDataURL(f);
            });
        }
    </script>
}