@model JobReferenceViewModel
@inject SignInManager<ApplicationUser> signInManager;
@{ViewData["Title"] = "Gallery";
    ViewData["activeView"] = "Gallery"; }
    @*<h1 style="font-size:80px">Galerija radova</h1>*@
    @*@if (signInManager.IsSignedIn(User) && User.IsInRole("Administrator"))
    {*@
<div class=" text-center">
    <a class="btn btn-success m-4" asp-controller="Admin" asp-action="CreateJobReference">Kreiraj novu referencu</a>
</div>
        
    @*}*@
@*Prikaz na pcu*@
<div class="d-none d-sm-block">
    <form asp-controller="Home" asp-action="Gallery" method="get">
        <div class="input-group">
            <select name="jobTypeId" id="select" class="form-control">
                <option value="@null" disabled selected hidden>Izaberite vrstu posla...</option>
                @for (int i = 0; i < Model.JobTypes.Count(); i++)
                {
                    <option value="@Model.JobTypes[i].Id">@Model.JobTypes[i].Name</option>
                }
            </select>
            <input id="textSearch" class="form-control col-4 col-sm-12" type="text" name="SearchString" placeholder="Pretraži radove..." />
            <div class="input-group-append">
                <input class="btn btn-lightgray" type="submit" value="Pretraga">
            </div>
        </div>
        <label for="textSearch"></label>
    </form>
</div>
@*Prikaz na mobitelu*@
<div class="d-sm-none">
    <form asp-controller="Home" asp-action="Gallery" method="get">
        <select name="jobTypeId" id="select" class="form-control p-3">
            <option value="@null" disabled selected hidden>Izaberite vrstu posla...</option>
            @for (int i = 0; i < Model.JobTypes.Count(); i++)
            {
                <option value="@Model.JobTypes[i].Id">@Model.JobTypes[i].Name</option>
            }
        </select>
        <input id="textSearch" class="form-control p-3" type="text" name="SearchString" placeholder="Pretraži radove..." />
        <input class="btn btn-lightgray col-12 p-3" type="submit" value="Pretraga">
        <label for="textSearch"></label>
    </form>
</div>

@*<div class="container col-12 col-sm-12 col-lg-8 col-xl-7 pt-4">
    <form asp-controller="Home" asp-action="Gallery" method="get">
        <select name="jobTypeId" id="select" class="form-control">
            <option value="@null" disabled selected hidden>Izaberite vrstu posla...</option>
            @for (int i = 0; i < Model.JobTypes.Count(); i++)
            {
                <option value="@Model.JobTypes[i].Id">@Model.JobTypes[i].Name</option>
            }
        </select>
        <label for="textSearch"></label>
        <input id="textSearch" class="form-control" type="text" name="SearchString" placeholder="Pretraži radove..." />
        <div class="input-group-append">
            <input class="btn btn-primary" type="submit" value="Pretraga">
        </div>
    </form>
</div>*@
<div class="row no-gutter">
    <div id="img-10" class="col-12 col-md-6 col-lg-6 col-xl-4 p-2 pt-4 pb-5">
        <text class="jobReferenceCard">
            <a href="/GalerijaRadova/Detalji?id=10">
                <div class="track-card-image" style="background-image: url('/Images/Renoviranje kuće/Renoviranje kuće0.jpg')">
                </div>
            </a>
            <div class="row text-center pt-2">
                <form onclick="deleteJobReference(10)">
                    <a type="submit" class="btn btn-sm btn-danger d-md-inline-block">
                        Izbriši
                    </a>
                </form>
            </div>
            <text>
                <h1 class="" style="padding-left:8px">Renoviranje kuće</h1>
                <div style="padding-left:8px">
                    Betoniranje, zidanje, žbukanje, krovopokrivanje.
                </div>
            </text>
        </text>
    </div>
    <div id="img-12" class="col-12 col-md-6 col-lg-6 col-xl-4 p-2 pt-4 pb-5">
        <text class="jobReferenceCard">
            <a href="/GalerijaRadova/Detalji?id=12">
                <div class="track-card-image" style="background-image: url('/Images/Izgradnja zgrade/Izgradnja zgrade0.jpg')">
                </div>
            </a>
            <div class="row text-center pt-2">
                <form onclick="deleteJobReference(12)">
                    <a type="submit" class="btn btn-sm btn-danger d-md-inline-block">
                        Izbriši
                    </a>
                </form>
            </div>
            <text>
                <h1 class="" style="padding-left:8px">Izgradnja zgrade</h1>
                <div style="padding-left:8px">
                    Betoniranje, zidanje, žbukanje, vodoinstaliranje.
                </div>
            </text>
        </text>
    </div>
    <div id="img-13" class="col-12 col-md-6 col-lg-6 col-xl-4 p-2 pt-4 pb-5">
        <text class="jobReferenceCard">
            <a href="/GalerijaRadova/Detalji?id=13">
                <div class="track-card-image" style="background-image: url('/Images/Razni građ. radovi/Razni građ. radovi0.jpg')">
                </div>
            </a>
            <div class="row text-center pt-2">
                <form onclick="deleteJobReference(13)">
                    <a type="submit" class="btn btn-sm btn-danger d-md-inline-block">
                        Izbriši
                    </a>
                </form>
            </div>
            <text>
                <h1 class="" style="padding-left:8px">Razni građ. radovi</h1>
                <div style="padding-left:8px">
                    Žbukanje, krovopokrivanje, vodoinstaliranje.
                </div>
            </text>
        </text>
    </div>
</div>
<script>
    $(function () {
        $("#textSearch").autocomplete({
            focus: true,
                source: '@Url.Action("GalleryAutocomplete")'
        });
    });
    function deleteJobReference(id) {
        if (confirm("Jeste li sigurni da želite izbrisati referencu?")) {
            var data = {
                id: id
            };
            $.ajax({
                type: 'POST',
                url: "/Admin/DeleteJobReference",
                data: data,
                success: function (result) {
                    alert("Referenca izbrisana!");
                    $("#img-" + id).remove();
                },
                error: function () {
                    alert("Referenca ne postoji.");
                }
            });
        }
    }
</script>
